body {
  font-family: Arial, sans-serif;
  background: #f4f4f4;
  margin: 0;
  padding: 20px;
}

.container {
  max-width: 500px;
  margin: auto;
  background: white;
  padding: 20px;
  border-radius: 8px;
}

h1 {
  text-align: center;
}

.input-group {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

 input[type="text"] {
  flex: 1;
  padding: 20px;
  font-size: 16px;
} 

button {
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

form{
  margin-top:40px;
  width: 100%;
}
input[type="text"]{
  width: 80%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
/* button{
  width: 60px;
  height: 50px;
  padding: 10px;
  font-size: 16px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
} */

button {
  width: 60px;
  padding: 10px ;
  font-size: 16px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 10px;
}


.icons img {
  width: 20px;
  height: 20px;
  margin-left: 10px;
  cursor: pointer;
}

#taskList{
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 10px;
  width: 100%;
  list-style: none;
}

.taskItem{
  width: 100%;
  display: flex;
  /* background-color:rgb(0, 255, 136); */
  padding: 10px;
  border-radius: 10px;
  justify-content: space-between;
}
.taskItem img {
  width: 24px;
  height: 24px;
  padding-top: 10px;
}
.task{
  display: flex;
  align-items: center;
  gap: 10px;
}

.task input{
  width: 20px;
  height: 20px;
}

.completed p{
  text-decoration: line-through;
  color: #28a745;
  
} 